body 
{
    background-color: #568;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 500;
    color: #555;
}

.Calc
{
    width: 600px;
    display: block;
    text-align: center;
    margin: 0 auto;
    align-content: center;
    height: 160px;
}

#Top
{
    background-color: #dcc;
    overflow: hidden;
    
}

#Bottom
{
    background-color: #ccd;
    overflow: hidden;
}

#Top .Container
{
    
    width: 600px;
}


.Calculation
{
    height: 80px;
    padding: 40px;
}

.modal-bg
{
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-content
{
    position: fixed;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 10px 80px;
    border-radius: 15px;
}

.modal-content div
{
    display: inline-block;
    margin: 0 20px;
    padding-bottom: 20px;
}

.modal-content p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content p button {
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: peachpuff;
    color: #333;
    font-size: 0.4em;
    font-family: Roboto;
    padding: 10px 30px;
    transition: 0.2s all;
    border-bottom: solid rgb(230, 140, 90) 5px;
}

.modal-content p button:hover {
    background-color:rgb(255, 172, 114);
    border-bottom: solid rgb(230, 140, 90) 10px;
    color: #fff;
}